<div class="cmd-screen">
    <span style="color: darkcyan; text-align: left;"></p><b>welcome@itsos$</b></span>
    <div id="typed-strings">
        <p> You are being Hacked NOW. XOX </p>
        <p> NOOOO WAIT WE are kidding ... We are good people :) </p>
        <p> {{.Site.Params.tagline}} </p>
    </div>
    <span id="typed"></span>
</div>

<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
<script>
    var typed = new Typed('#typed', {
      stringsElement: '#typed-strings',
      typeSpeed: 100,
      backSpeed: 5,
      backDelay: 3000
    });
</script>