<div style = "margin-top: 50px">
        <a href="https://join.slack.com/t/itsos-workspace/shared_invite/enQtNDY5OTM5MTAzOTIwLTU1ZGE4YzY3ODgxZGI3NmUzNzBiY2UyZDI3MTI4MTZlZjhmZTE1NmRjY2NmNTUzZmEzNzVjZTkxMmY1NGJkMDI" target="_blank"><img src="img/chat.gif" alt=""></a>
</div>