{{ partial "header" . }}

<main class = "content-box">

    <div class="intro">

        <div class="avatar">
            <!-- <img class="img-responsive" src="{{ .Site.BaseURL }}img/{{ .Site.Params.logo }}" alt="Whoopsies, this is my bad side!" style = "margin: 0 auto;"> -->
            <h1>{{ .Title }}</h1>
            <h2>{{ .Site.Params.description }}</h2>
        </div>
        <!--custom components balck screen-->
        {{ partial "black-screen" . }}
        
        <!--custom components slack slider-->
        {{ partial "slack-slider" . }}
        
    </div>

</main>

{{ partial "footer" . }}
